/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.bg-darkblue{
	background-color: #415165;
}
hr{
	background-color:black;
	 height:1px; 
	border:none;
}
.section02 hr,footer hr{
	background-color:white;
	 height:1px; 
	border:none;
}
body{
	padding-top: 47px;
}

h1{
top: 47px;
left: 360px;
/* width: 264px; */
/* height: 188px; */
text-align: left;
font: normal normal normal Roboto;
font-size: 80px !important;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.section01 img{
	top: 300px;
left: 360px;
width: 324px;
height: 324px;
/* background: transparent url('img/photo-1536180931879-fd2d652efddc.png') 0% 0% no-repeat padding-box; */
opacity: 1;
}
h2{
margin-top: 72px !important;
	top: 672px;
left: 360px;
/* width: 128px; */
/* height: 45px; */
text-align: left;
font: normal normal normal 32px/43px Noto Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
h2 span{
	width: 93px;
height: 28px;
text-align: left;
font: normal normal medium 24px/28px Roboto;
letter-spacing: 0px;
color: #A00404;
opacity: 1;
margin-left: 16px;
font-size: 24px !important;
}
p{
	top: 741px;
left: 360px;
/* width: 486px; */
/* height: 108px; */
text-align: left;
font: normal normal normal 24px/36px Noto Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
li{
	top: 1122px;
left: 360px;
/* width: 600px; */
/* height: 34px; */
text-align: left;
font: normal normal normal 24px/36px Noto Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
margin-top: 24px;
}
.section02{
	top: 1286px;
	left: 0px;
	/* width: 1920px; */
	/* height: 474px; */
	background: #415165 0% 0% no-repeat padding-box;
	opacity: 1;	
	padding-top: 24px;
padding-bottom: 36px;}
.skillbox{
	/* left: 852px; */
width: 0px;
/* height: 321px; */
border-left: 1px solid #96A9C4;
opacity: 1;
}
.section02 ul li{
	top: 1403px;
left: 876px;
/* width: 188px; */
height: 28px;
/* text-align: center; */
font: normal normal 300 24px/36px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-left: 30px;
}
.section03 p{
	top: 2041px;
left: 408px;
width: auto;
/* height: 154px; */
text-align: left;
font: normal normal normal 20px/30px Noto Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.section03 img{
	top: 2435px;
left: 408px;
width: 90px;
height: 90px;
opacity: 1;
}
footer .container-fluid{
	padding-top: 34px;
	padding-bottom: 36px;
}
footer img{
	margin-right: 24px;
	width: 48px;
height: 48px;
}